.About {
    &__container {
        position : absolute;
        top : 0px;
        left : 0px;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    &__slide {
        width: 1000px;
        margin: 0 auto;
        min-height: 600px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        // border-bottom: 1px white solid;

        .title {
            position : relative;
            margin-bottom: 120px;

            color : $light-gray;
            font-size: 34px;
            font-weight: 600;
            text-align: center;

            &.sub {
                margin-top : 10px;
                font-size: 28px;
                font-weight: 400;
            }
        }
        .content {
            color : $light-gray;
            height: 100%;

            p {
                font-size : 16px;
                color : #EFEFEF;
                font-weight: 400;
            }
            em {
                font-weight: 700;
                color : $orange;
                font-style: normal;
            }
            .caption{
                font-size: 11px;
            }
        }
    }

    &__controller {
        position : fixed;
        top : 0px;
        left : 0px;
        width : 100vw;
        height : 100vh;

        button{
            position : absolute;
            left : 50%;
            transform: translateX(-50%);

            width : 50px;
            height : 50px;
            
            &.top {
                top : 10px;
            }
            &.bottom {
                bottom : 10px;
            }
        }
    }
}


#slide-1{
    .content {
        .Logo {
            position: relative;
            top : 0%;
            transform: translateY(0%);
            margin-right: 100px;

            .logo-shape .item{
                width: 160px;
                height: 200px;
                border-radius: 160px 160px 0 0;
                margin-right: 30px;
                &:first-child {
                    margin-right : 5px;
                    border-radius: 0 0 160px 160px;
                }
            }
            .logo-title {
                font-size: 55px;
                font-weight: 700;
                line-height: 80px;
            }
        }
        .desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;
        }
    }
}

#slide-2 {
    .content {
        width: 100%;
        height : 550px;
        .col {
            height : 100%;
            white-space: pre-line;
        }

        .col-1 {
            text-align: center;
            margin-right : 50px;
        }
        .col-2 {
            min-width: 220px;
        }
        .col-3 {
            display: grid;
            grid-template-rows: repeat(3, 1fr);

            font-size: 16px;
            line-height: 25px;
            .emoji {
                width : 75px;
                height : 75px;
                margin-left : 30px;
                margin-right: 50px;
            }
        }
    }
}

#slide-3 {
    .content {
        height : 100%;
        img {
            width : 100%;
        }
    }
}

#slide-4 {
    flex-direction: column;
    justify-content: flex-start;
    height : 1360px;
    .content {
        height : auto;
    }

    .title-img{
        margin-top: 170px;
        margin-bottom: 50px;
    }

    .quotationMark {
        width : 400px;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: 40px;
    }
    .quotation {
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;

        text-align: center;
        // margin-bottom : 30px;
    }
    .caption {
        text-align: center;
        font-weight: 200;
    }

    .divider {
        width : 220px;
        min-height: 1px;
        height: 1px;
        background-color: #ffffff;
        margin : 93px auto 80px auto;
    }

    button.button__moveToTop{
        position : relative;
        bottom : 0px;
        right : 0px;
        margin-top : 80px;
    }
}

.scrollableContainer {
    width : 100%;
    height: 100%;
    overflow-y: scroll;
}