button {
    cursor: pointer;
}
  
button.button__moveToTop {
    width: 120px;
    height : 120px;
    border-radius: 120px;
    background-color : $orange;
  
    position : fixed;
    bottom : 46px;
    right : 46px;
  
    svg {
      fill : $dark-gray;
      transform: scale(2);
    }
  
    &:hover {
      .arrowContainer {
        animation: up-and-down 1s ease-in-out infinite;
      }
    }
}
  
button.button__back {
    width : 120px;
    height : 120px;
    border-radius : 120px;
    background-color : transparent;
  
    position: absolute;
    top : 50%;
    left : 20px;
    transform: translateY(-50%);
  
    transition : all 0.2s ease-in-out;
  
    svg {
      fill : $orange;
      transform: scale(2);
    }
  
    &:hover {
      background-color : rgba($light-gray, 0.1);
  
        .arrowContainer {
            animation : left-and-right 1s ease-in-out infinite;
        }
    }
}

button.button__language {
    width : 50px;
    height: 40px;
    background-color: $light-gray;
    &:hover {
        background-color: $orange;
    }
}

button.button__download {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 50%;

    color : $orange;
    font-size: 18px;
    font-weight: 700;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $orange;
        color : #ffffff;
    }
}
  
@keyframes up-and-down {
    from {
        transform: translateY(0px)
    }
    45% {
        transform: translateY(-5px)
    }
    55% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0px)
    }
}
  
@keyframes left-and-right {
    from {
      transform: translateX(0px)
    }
    45% {
      transform: translateX(-5px)
    }
    55% {
      transform: translateX(-5px)
    }
    to {
      transform: translateX(0px)
    }
}

.LanguageButton {
    position: absolute;
    right : 260px;
    top : 50%;
    transform: translateY(-50%);

    background-color: transparent;
    color : $light-gray;
    font-size: 25px;
    font-weight: 400;
}