.Main {
    position : relative;
}
  
.Main__archive {
    width : 900px;
    height : 650px;
  
    position : relative;
    top : 200px;
    left : 100px;
  
    border : 1px solid $light-gray;
    border-radius: 50%;
  
    .title {
        position : absolute;
        left : 50%;
        transform: translate(-50%, -50%);
    
        padding : 0 10px;
        background-color : $dark-gray;
    }
  
    .archiveBtn {
        position : absolute;
        top : 50%;
        transform: translateY(-50%);
  
        width : 350px;
        height : 350px;
    
        &.korean {
            left : 50px;
        }
        &.western {
            right : 50px;
        }
    }
}
  
  
.Main__about {
    width : 250px;
    height : 250px;
  
    position : absolute;
    top : 358px;
    right : 95px;
}

.Main__question {
    position : absolute;
    top : 657px;
    right : 160px;

    width: 118px;
    height: 118px;
}
  
.Main__button {
    cursor: pointer;
    border : 1px solid $light-gray;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition : all 0.3s ease;

    &:hover {
        background-color: $orange;
        color : $white;
        border-color : $orange;
    }
}